<div class="card-deck">
  {{#events}}
    <div class="card" style="max-width: 18rem;">
        <div class="card-body">
 <h2 class="card-title">{{ title }}</h2>
        <p class="card-text">{{ description }}</p>
        <button type="button" class="btn btn-primary">like</button>
        </div>
    </div>
  {{/events}}